#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-imageBg {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-menuIcon {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-alertsIcon {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-searchIcon {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-alertsNumber {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Ellipse_6 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Ellipse_7 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-by {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Name {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-room {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}