#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-imageBg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-menuIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-alertsIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-searchIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-alertsNumber {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-by {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-room {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-04c5c32f-20d2-474b-a99f-cd286945820b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}