#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-imageBg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/e302ef2f-6705-4d85-904a-71eb016647d6.png');
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-imageBg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-imageBg > .clipping, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-imageBg > .paddingLayer {
  height: 101px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-imageBg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-imageBg span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-imageBg span#rtr-s-imageBg_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Panel_1 {
  width: 28px;
  height: 28px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 28px;
  height: 28px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-menuIcon > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-menuIcon {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-menuIcon > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-menuIcon > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-alertsIcon > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-alertsIcon {
  position: absolute;
  width: 24px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-alertsIcon > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-alertsIcon > svg {
  height: 28px;
  width: 24px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-searchIcon > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-searchIcon {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-searchIcon > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-searchIcon > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-alertsNumber > .shapert-clipping {
  width: 14px;
  height: 14px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-alertsNumber .shapert-clipping {
  left: 0px;
  top: 1px;
  width: 14px;
  height: 13px;
  position: absolute;
  overflow: hidden;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-alertsNumber .content {
  text-shadow: none;
  width: 14px;
  height: 13px;
  font-size: 6.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-alertsNumber > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-alertsNumber {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-alertsNumber {
  width: 14px;
  height: 13px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FC1268;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-alertsNumber .valign {
  vertical-align: top;
  text-align: center;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-alertsNumber span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 6.0pt;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-alertsNumber span#rtr-s-alertsNumber_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-social {
  position: absolute;
  width: 196px;
  height: 45px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_6 > .shapert-clipping {
  width: 45px;
  height: 45px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  overflow: hidden;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  width: 45px;
  height: 45px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_6 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Ellipse_6 {
  width: 41px;
  height: 41px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/39e5d45e-a574-4114-9925-82c9206f06b8.png');
  stroke-width: 4px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_7 > .shapert-clipping {
  width: 45px;
  height: 45px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  overflow: hidden;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  width: 45px;
  height: 45px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_7 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Ellipse_7 {
  width: 41px;
  height: 41px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/c47ca1fd-7640-4020-8736-2274adcf0cf0.png');
  stroke-width: 4px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_11 > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_11 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_11 > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_11 > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_11 > .clipping, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-by > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-by {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-by > .clipping, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-by > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-by .valign {
  vertical-align: middle;
  text-align: left;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-by span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-by span#rtr-s-by_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Name > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Name {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Name > .clipping, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Name > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Name .valign {
  vertical-align: middle;
  text-align: left;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Name span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Name span#rtr-s-Name_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Name span#rtr-s-Name_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-room > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 19px 19px 19px 19px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-room {
  position: absolute;
  width: 86px;
  height: 83px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-room > .clipping, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-room > .paddingLayer {
  height: 81px;
  width: 84px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-room .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-room span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-room span#rtr-s-room_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Home_Indicator > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Home_Indicator > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-statusBar {
  position: absolute;
  width: 335px;
  height: 22px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_2 > .clipping, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_17 > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_17 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_17 > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_17 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_18 > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_18 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_18 > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_18 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_4 > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_4 > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Table_1 {
  position: absolute;
  width: 375px;
  height: 84px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Table_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Table_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_1 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_1 .verticalalign {
  vertical-align: top;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_1 {
  width: 125px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_1 > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_1 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_1 > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_1 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_2 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_2 .verticalalign {
  vertical-align: top;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_2 {
  width: 125px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_2 > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_2 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_2 > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_2 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_3 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_3 .verticalalign {
  vertical-align: top;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_3 {
  width: 125px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_3 > svg {
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_3 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_3 > img, #s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_3 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}