#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-imageBg {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-menuIcon {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-alertsIcon {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-searchIcon {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-alertsNumber {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Ellipse_6 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Ellipse_7 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-by {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Name {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-room {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 19px 19px 19px 19px;
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Table_1 {
  border-collapse: separate;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-08cc01c8-380a-4b16-82f9-7fc21589ba74 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}