#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-star-1 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-star-1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-star-1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-star-1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-star-1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_139 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-photo_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-photo_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-photo_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-spacer {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-topBg {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-modal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-comments {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 6px 6px 0px 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_6 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_1 {
  stroke-width: 1px;
  stroke: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_1 {
  stroke-width: 1px;
  stroke: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_7 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_2 {
  stroke-width: 1px;
  stroke: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_2 {
  stroke-width: 1px;
  stroke: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_8 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_3 {
  stroke-width: 1px;
  stroke: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_3 {
  stroke-width: 1px;
  stroke: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_9 {
  stroke-width: 4px;
  stroke: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_4 {
  stroke-width: 1px;
  stroke: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_4 {
  stroke-width: 1px;
  stroke: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-tabBg {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_5 {
  stroke-width: 3px;
  stroke: #84849C;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_5 {
  stroke-width: 3px;
  stroke: #84849C;
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-bottomBg {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_115 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-bottomBg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}