#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-photo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-photo_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-photo_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-spacer {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-topBg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-modal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-by_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-tabBg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-bottomBg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Image_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-bottomBg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1af0858b-5195-4a2b-80cd-8cc0f2d3084b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}