#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-imageBg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-menuIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-alertsIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-searchIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-alertsNumber {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-by {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-Name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-room {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-22864188-0519-4dc3-8eec-06e1275b30b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}