#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Empty_Screen_Dark {
  position: absolute;
  width: 375px;
  height: 812px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_3 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_3 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_3 > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #212121;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_8 {
  position: absolute;
  width: 0px;
  height: 141px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_8 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_8 > .paddingLayer {
  height: 140px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_8 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #212121;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_9 {
  position: absolute;
  width: 0px;
  height: 84px;
  opacity: 0.82;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_9 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_9 > .paddingLayer {
  height: 83px;
  width: 100px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_9 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator_1 > svg {
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator_1 {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator_1 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator_1 > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_2 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_17 > svg {
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_17 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_17 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_17 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_18 > svg {
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_18 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_18 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_18 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_4 > svg {
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_4 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Table_1 {
  position: absolute;
  width: 375px;
  height: 84px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Table_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Table_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_1 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_1 .verticalalign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_1 {
  width: 125px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_11 > svg {
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_11 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_11 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_11 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_3 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_3 .verticalalign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_3 {
  width: 125px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_13 > svg {
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_13 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_13 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_13 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_5 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_5 .verticalalign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_5 {
  width: 125px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_15 > svg {
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_15 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_15 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_15 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator > svg {
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Carousel {
  position: absolute;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-items {
  width: 0px;
  height: 540px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-items > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-items td.layout {
  padding: 0px 21px 0px 21px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-items > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 98px;
  height: 540px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-items .verticalalign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-adventures {
  position: absolute;
  width: 330px;
  height: 540px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-adventures > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-adventures > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_8 td.layout {
  padding: 0px 30px 0px 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_8 .verticalalign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_8 {
  width: 330px;
  height: 257px;
  background-color: transparent;
  background-image: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_7 {
  width: 333px;
  height: 235px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_7 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_7 > svg {
  height: 235px;
  width: 333px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_4 td.layout {
  padding: 0px 30px 0px 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_4 .verticalalign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_4 {
  width: 163px;
  height: 283px;
  background-color: transparent;
  background-image: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_3 {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-BoldItalic',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_3 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 16.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_5 {
  width: 162px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-BoldItalic',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_5 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_5 > .paddingLayer {
  height: 47px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_5 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 14.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-BoldItalic',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_1 {
  width: 162px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_1 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_1 > .paddingLayer {
  height: 46px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_1 span {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_3 {
  width: 162px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_3 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_3 > .paddingLayer {
  height: 40px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_3 span {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_2 {
  width: 162px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_2 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_2 > .paddingLayer {
  height: 55px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_2 span {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_4 {
  width: 162px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_4 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_4 > .paddingLayer {
  height: 49px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_4 span {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_6 td.layout {
  padding: 0px 30px 0px 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_6 .verticalalign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_6 {
  width: 167px;
  height: 283px;
  background-color: transparent;
  background-image: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_1 {
  width: 170px;
  height: 128px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_1 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_1 > svg {
  height: 128px;
  width: 170px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_4 {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_4 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_4 span {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_16 {
  width: 170px;
  height: 104px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_16 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_16 > svg {
  height: 104px;
  width: 170px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_5 {
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_5 > .clipping, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_5 span#rtr-s-Text_5_1 {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_2 {
  position: absolute;
  width: 48px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_2 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_2 > svg {
  height: 45px;
  width: 48px;
  box-shadow: none;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_3 {
  position: absolute;
  width: 37px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_3 > img, #s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_3 > svg {
  height: 34px;
  width: 37px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}