#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}