#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_8 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Table_1 {
  border-collapse: separate;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_5 > .valign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-adventures {
  border-collapse: separate;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_4 > .valign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-4cf6703e-64a0-4e87-bd92-c36db8d79020 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}