#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}