#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Empty_Screen_Dark {
  position: absolute;
  width: 375px;
  height: 812px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_3 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_3 > .clipping, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_3 > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #212121;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_7 {
  position: absolute;
  width: 0px;
  height: 141px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_7 > .clipping, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_7 > .paddingLayer {
  height: 140px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Paragraph_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Paragraph_8 {
  position: absolute;
  width: 343px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Paragraph_8 > .clipping, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Paragraph_8 > .paddingLayer {
  height: 50px;
  width: 343px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Paragraph_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.0pt;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #212121;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_6 {
  position: absolute;
  width: 0px;
  height: 84px;
  opacity: 0.82;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_6 > .clipping, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_6 > .paddingLayer {
  height: 83px;
  width: 100px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_6 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Home_Indicator > svg {
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Home_Indicator > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_3 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_3 > .clipping, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_3 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_20 > svg {
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_20 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_20 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_20 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_21 > svg {
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_21 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_21 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_21 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_5 > svg {
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_5 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_5 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_5 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Table_1 {
  position: absolute;
  width: 375px;
  height: 73px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Table_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Table_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_1 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_1 .verticalalign {
  vertical-align: top;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_1 {
  width: 125px;
  height: 73px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_6 > svg {
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_6 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_6 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_6 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_2 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_2 .verticalalign {
  vertical-align: top;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_2 {
  width: 125px;
  height: 73px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_7 > svg {
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_7 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_7 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_7 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_3 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_3 .verticalalign {
  vertical-align: top;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_3 {
  width: 125px;
  height: 73px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_8 > svg {
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_8 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_8 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_8 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_9 > svg {
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_9 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_9 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_9 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_10 > svg {
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_10 {
  position: absolute;
  width: 24px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_10 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_10 > svg {
  height: 28px;
  width: 24px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_28 > svg {
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_28 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_28 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_28 > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_2 > .clipping, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_2 span {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_1 {
  position: absolute;
  width: 139px;
  height: 129px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_1 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_1 > svg {
  height: 129px;
  width: 139px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_4 > .clipping, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_4 span {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_2 {
  position: absolute;
  width: 132px;
  height: 129px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_2 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_2 > svg {
  height: 129px;
  width: 132px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_5 > .clipping, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_5 span {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_6 > .clipping, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_6 span {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #6ACCCB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_3 {
  position: absolute;
  width: 139px;
  height: 133px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_3 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_3 > svg {
  height: 133px;
  width: 139px;
  box-shadow: none;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_4 {
  position: absolute;
  width: 132px;
  height: 133px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_4 > img, #s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_4 > svg {
  height: 133px;
  width: 132px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}