#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Table_1 {
  border-collapse: separate;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6c01d70c-e007-4ee2-a16a-9bc44f6a0ff9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}