#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Empty_Screen_Dark {
  position: absolute;
  width: 375px;
  height: 812px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_3 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_3 > .clipping, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_3 > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #212121;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_7 {
  position: absolute;
  width: 0px;
  height: 141px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_7 > .clipping, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_7 > .paddingLayer {
  height: 140px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Paragraph_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Paragraph_8 {
  position: absolute;
  width: 343px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Paragraph_8 > .clipping, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Paragraph_8 > .paddingLayer {
  height: 50px;
  width: 343px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.0pt;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #212121;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_6 {
  position: absolute;
  width: 0px;
  height: 84px;
  opacity: 0.82;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_6 > .clipping, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_6 > .paddingLayer {
  height: 83px;
  width: 100px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_6 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_30 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_30 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_30 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_30 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_31 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_31 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_31 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_31 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator_1 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator_1 {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator_1 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator_1 > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_3 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_3 > .clipping, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_3 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_19 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_19 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_19 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_19 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_20 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_20 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_20 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_20 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_5 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_5 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_5 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_5 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Table_1 {
  position: absolute;
  width: 375px;
  height: 83px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Table_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Table_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_1 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_1 .verticalalign {
  vertical-align: top;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_1 {
  width: 125px;
  height: 83px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_2 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_2 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_2 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_2 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_2 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_2 .verticalalign {
  vertical-align: top;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_2 {
  width: 125px;
  height: 83px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_3 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_3 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_3 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_3 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_3 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_3 .verticalalign {
  vertical-align: top;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_3 {
  width: 125px;
  height: 83px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_6 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_6 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_6 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_6 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_1 {
  position: absolute;
  width: 375px;
  height: 510px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_1 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_1 > svg {
  height: 510px;
  width: 375px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-menuIcon > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-menuIcon {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-menuIcon > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-menuIcon > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-alertsIcon > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-alertsIcon {
  position: absolute;
  width: 24px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-alertsIcon > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-alertsIcon > svg {
  height: 28px;
  width: 24px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-searchIcon > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-searchIcon {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-searchIcon > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-searchIcon > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #shapewrapper-s-alertsNumber > .shapert-clipping {
  width: 14px;
  height: 14px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #shapewrapper-s-alertsNumber .shapert-clipping {
  left: 0px;
  top: 1px;
  width: 14px;
  height: 13px;
  position: absolute;
  overflow: hidden;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #shapewrapper-s-alertsNumber .content {
  text-shadow: none;
  width: 14px;
  height: 13px;
  font-size: 6.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #shapewrapper-s-alertsNumber > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #shapewrapper-s-alertsNumber {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-alertsNumber {
  width: 14px;
  height: 13px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FC1268;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #shapewrapper-s-alertsNumber .valign {
  vertical-align: top;
  text-align: center;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #shapewrapper-s-alertsNumber span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 6.0pt;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #shapewrapper-s-alertsNumber span#rtr-s-alertsNumber_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name > .clipping, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name .valign {
  vertical-align: middle;
  text-align: left;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name span#rtr-s-Name_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Meditate > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Meditate {
  position: absolute;
  width: 224px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 38px;
  font-size: 20.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Meditate > .clipping, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Meditate > .paddingLayer {
  height: 41px;
  width: 222px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Meditate .valign {
  vertical-align: middle;
  text-align: center;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Meditate span {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Meditate span#rtr-s-Meditate_0 {
  color: #6ACCCB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-statusBar {
  position: absolute;
  width: 335px;
  height: 22px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_2 > .clipping, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_17 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_17 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_17 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_17 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_18 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_18 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_18 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_18 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_4 > svg {
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_4 > img, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name_1 > .clipping, #s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name_1 span#rtr-s-Name_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}