#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-menuIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-alertsIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-searchIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-alertsNumber {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Meditate {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}