#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Table_1 {
  border-collapse: separate;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-menuIcon {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-alertsIcon {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-searchIcon {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-alertsNumber {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Meditate {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 #s-Name_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-82d7bbbb-0454-4381-97ab-5aba19fd4244 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}