#s-a4ad34e3-1473-45d5-9be4-6901ad798673 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by span#rtr-s-by_0 {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name span#rtr-s-Name_0 {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-ratingGroup {
  position: absolute;
  width: 306px;
  height: 43px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-stars {
  position: absolute;
  width: 87px;
  height: 18px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_1 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_1 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_1 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_1 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_2 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_2 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_2 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_2 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_3 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_3 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_3 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_3 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_4 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_4 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_4 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-star-1_4 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_103 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_103 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_103 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_103 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_1 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_1 span#rtr-s-by_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_2 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_2 span#rtr-s-by_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-infoDetails {
  position: absolute;
  width: 332px;
  height: 33px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_3 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_3 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_3 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_3 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_3 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_3 span#rtr-s-by_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_3 span#rtr-s-by_3_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_6 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_6 span#rtr-s-by_6_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_4 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_4 span#rtr-s-by_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_4 span#rtr-s-by_4_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_7 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_7 span#rtr-s-by_7_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_5 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_5 span#rtr-s-by_5_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_8 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_8 span#rtr-s-by_8_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_92 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_92 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_92 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_92 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_139 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_139 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_139 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_139 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/bfc75ddb-1517-490e-8382-11e602cd8885.png');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_1 {
  position: absolute;
  width: 334px;
  height: 170px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_1 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_1 > .paddingLayer {
  height: 170px;
  width: 334px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_1 span#rtr-s-photo_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_1 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_1 span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_1 span#rtr-s-Name_1_0 {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_1 span#rtr-s-Name_1_1 {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_1 span#rtr-s-Name_1_2 {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_1 {
  position: absolute;
  width: 334px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_1 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_2 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_2 span {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_2 span#rtr-s-Name_2_0 {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Name_2 span#rtr-s-Name_2_1 {
  color: #372F27;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/371d3cd2-a2fa-46bf-9a60-6d31e3b5a77c.jpg');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_2 {
  position: absolute;
  width: 250px;
  height: 225px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_2 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_2 > .paddingLayer {
  height: 225px;
  width: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_2 span#rtr-s-photo_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/7f2cfe63-e3fc-4e73-9b6e-b117e6ab86b7.jpg');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_3 {
  position: absolute;
  width: 250px;
  height: 225px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_3 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_3 > .paddingLayer {
  height: 225px;
  width: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_3 span#rtr-s-photo_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Hotspot_1 {
  position: absolute;
  width: 375px;
  height: 225px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Hotspot_1 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Hotspot_1 > svg {
  height: 225px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_2 {
  position: absolute;
  width: 334px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_2 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/370d2b1f-5071-471c-b41c-6b8bca36627b.jpg');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_4 {
  position: absolute;
  width: 334px;
  height: 170px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_4 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_4 > .paddingLayer {
  height: 170px;
  width: 334px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-photo_4 span#rtr-s-photo_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-spacer > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-spacer {
  position: absolute;
  width: 334px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-spacer > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-spacer > .paddingLayer {
  height: 102px;
  width: 334px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-spacer .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-spacer span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-spacer span#rtr-s-spacer_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-top {
  position: absolute;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-itemsTop {
  width: 375px;
  height: 122px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-itemsTop > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-itemsTop td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-itemsTop > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 122px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-itemsTop .verticalalign {
  vertical-align: top;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-topBg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: 0px 5px 15px 0px #EFEFEF;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-topBg {
  position: absolute;
  width: 0px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-topBg > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-topBg > .paddingLayer {
  height: 102px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-topBg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-topBg span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-topBg span#rtr-s-topBg_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-statusBar {
  position: absolute;
  width: 335px;
  height: 22px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_2 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_17 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_17 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_17 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_17 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_18 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_18 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_18 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_18 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_4 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_4 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_1 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_1 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_1 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_1 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_2 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_2 {
  position: absolute;
  width: 24px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_2 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_2 > svg {
  height: 28px;
  width: 24px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_28 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_28 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_28 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_28 > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_3 > .shapert-clipping {
  width: 14px;
  height: 14px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 1px;
  width: 14px;
  height: 13px;
  position: absolute;
  overflow: hidden;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  width: 14px;
  height: 13px;
  font-size: 6.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_3 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Ellipse_3 {
  width: 14px;
  height: 13px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FC1268;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 6.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-modal > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-modal {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-modal > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-modal > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-modal .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-modal span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-modal span#rtr-s-modal_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsPanel {
  position: absolute;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-comments {
  width: 0px;
  height: 450px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-comments > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 6px 6px 0px 0px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-comments td.layout {
  padding: 20px 0px 0px 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-comments > .layoutWrapper {
  left: 3px;
  top: 3px;
  width: 94px;
  height: 444px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-comments .verticalalign {
  vertical-align: top;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Group_4 {
  position: absolute;
  width: 334px;
  height: 131px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_6 > .shapert-clipping {
  width: 45px;
  height: 45px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  overflow: hidden;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_6 .content {
  text-shadow: none;
  width: 45px;
  height: 45px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_6 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Ellipse_6 {
  width: 41px;
  height: 41px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/90d888d9-bbb6-48a2-9469-729c3cc09c9d.png');
  stroke-width: 4px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_9 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_9 span#rtr-s-by_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_10 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_10 span#rtr-s-by_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_10 span#rtr-s-by_10_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_11 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_11 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_11 span#rtr-s-by_11_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_29 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_29 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_29 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_29 > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_3 {
  position: absolute;
  width: 334px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_3 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Line_1 marker {
  fill: #F3F3F3;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 334px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Line_1 {
  width: 334px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #F3F3F3;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Group_3 {
  position: absolute;
  width: 334px;
  height: 131px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_7 > .shapert-clipping {
  width: 45px;
  height: 45px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  overflow: hidden;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_7 .content {
  text-shadow: none;
  width: 45px;
  height: 45px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_7 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Ellipse_7 {
  width: 41px;
  height: 41px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/447bf156-8f45-4486-b8ea-70c0b06e4325.png');
  stroke-width: 4px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_12 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_12 span#rtr-s-by_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_13 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_13 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_13 span#rtr-s-by_13_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_13 span#rtr-s-by_13_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_14 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_14 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_14 span#rtr-s-by_14_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_30 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_30 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_30 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_30 > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_4 {
  position: absolute;
  width: 334px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_4 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Line_2 marker {
  fill: #F3F3F3;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 334px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Line_2 {
  width: 334px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #F3F3F3;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Group_2 {
  position: absolute;
  width: 334px;
  height: 131px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_8 > .shapert-clipping {
  width: 45px;
  height: 45px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  overflow: hidden;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_8 .content {
  text-shadow: none;
  width: 45px;
  height: 45px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_8 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Ellipse_8 {
  width: 41px;
  height: 41px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/5f334271-fff0-4c7a-9271-45b53ac07fe4.png');
  stroke-width: 4px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_8 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_15 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_15 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_15 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_15 span#rtr-s-by_15_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_16 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_16 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_16 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_16 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_16 span#rtr-s-by_16_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_17 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_17 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_17 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_17 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_17 span#rtr-s-by_17_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_31 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_31 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_31 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_31 > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_5 {
  position: absolute;
  width: 334px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_5 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Line_3 marker {
  fill: #F3F3F3;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 334px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Line_3 {
  width: 334px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #F3F3F3;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Group_1 {
  position: absolute;
  width: 334px;
  height: 131px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_9 > .shapert-clipping {
  width: 45px;
  height: 45px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  overflow: hidden;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_9 .content {
  text-shadow: none;
  width: 45px;
  height: 45px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_9 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Ellipse_9 {
  width: 41px;
  height: 41px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/039d1f26-1b11-41de-ac2b-f65fb9a42d0b.png');
  stroke-width: 4px;
  stroke: #FFFFFF;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_9 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_18 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_18 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_18 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_18 span#rtr-s-by_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_19 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_19 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_19 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_19 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_19 span#rtr-s-by_19_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_19 span#rtr-s-by_19_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_19 span#rtr-s-by_19_2 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_20 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_20 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_20 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_20 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-by_20 span#rtr-s-by_20_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_32 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_32 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_32 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_32 > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_6 {
  position: absolute;
  width: 334px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 16px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_6 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Line_4 marker {
  fill: #F3F3F3;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 334px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Line_4 {
  width: 334px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #F3F3F3;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-tabBg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-tabBg {
  position: absolute;
  width: 0px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-tabBg > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-tabBg > .paddingLayer {
  height: 36px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-tabBg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-tabBg span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-tabBg span#rtr-s-tabBg_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Line_5 marker {
  fill: #84849C;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 30px;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Line_5 {
  width: 30px;
  height: 0px;
  padding-top: 3px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 3px;
  stroke: #84849C;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottom {
  position: absolute;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-itemsBottom {
  width: 375px;
  height: 105px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-itemsBottom > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-itemsBottom td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-itemsBottom > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 105px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-itemsBottom .verticalalign {
  vertical-align: top;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: 0px -5px 15px 0px #EFEFEF;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg {
  position: absolute;
  width: 0px;
  height: 83px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg > .paddingLayer {
  height: 83px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg span#rtr-s-bottomBg_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Home_Indicator > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Home_Indicator > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_102 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_102 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_102 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_102 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_26 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_26 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_26 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_26 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_115 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_115 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_115 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Image_115 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_1 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_3 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_4 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Hotspot_2 {
  position: absolute;
  width: 90px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Hotspot_2 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Hotspot_2 > svg {
  height: 25px;
  width: 90px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsForm {
  width: 375px;
  height: 105px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsForm > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsForm td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsForm > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 105px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsForm .verticalalign {
  vertical-align: top;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: 0px -5px 15px 0px #EFEFEF;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg_1 {
  position: absolute;
  width: 0px;
  height: 83px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg_1 > .clipping, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg_1 > .paddingLayer {
  height: 83px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg_1 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-bottomBg_1 span#rtr-s-bottomBg_1_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsInput input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsInput input::-moz-placeholder {
  color: #B4B4B4;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsInput input:-moz-placeholder {
  color: #B4B4B4;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsInput input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsInput {
  position: absolute;
  width: 334px;
  height: 36px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsInput .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsInput input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsInput > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FAFAFA;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D1D0D3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D1D0D3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D1D0D3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D1D0D3;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-commentsInput > .paddingLayer {
  height: 30px;
  width: 303px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  padding-right: 13px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Home_Indicator_1 > svg {
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Home_Indicator_1 {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Home_Indicator_1 > img, #s-a4ad34e3-1473-45d5-9be4-6901ad798673 #s-Home_Indicator_1 > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a4ad34e3-1473-45d5-9be4-6901ad798673 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}