#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Table_1 {
  border-collapse: separate;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_2 > .valign {
  vertical-align: top;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_24 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_25 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_26 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_27 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_26 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}