#s-b6c97015-ccdb-4250-af14-59c284dd8050 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Empty_Screen_Dark {
  position: absolute;
  width: 375px;
  height: 812px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_3 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_3 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_3 > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #212121;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_7 {
  position: absolute;
  width: 0px;
  height: 141px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_7 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_7 > .paddingLayer {
  height: 140px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_8 {
  position: absolute;
  width: 343px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_8 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_8 > .paddingLayer {
  height: 50px;
  width: 343px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #212121;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_6 {
  position: absolute;
  width: 0px;
  height: 84px;
  opacity: 0.82;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_6 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_6 > .paddingLayer {
  height: 83px;
  width: 100px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_6 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Home_Indicator > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Home_Indicator > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_2 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_17 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_17 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_17 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_17 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_18 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_18 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_18 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_18 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_4 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_4 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Table_1 {
  position: absolute;
  width: 375px;
  height: 84px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Table_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Table_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_1 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_1 .verticalalign {
  vertical-align: top;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_1 {
  width: 125px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_1 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_1 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_1 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_1 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_2 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_2 .verticalalign {
  vertical-align: top;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_2 {
  width: 125px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_2 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_2 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_2 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_2 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_3 td.layout {
  padding: 12px 12px 12px 12px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_3 .verticalalign {
  vertical-align: top;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Cell_3 {
  width: 125px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_3 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_3 {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_3 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_3 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Chat-2 {
  position: absolute;
  width: 375px;
  height: 633px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_8 {
  position: absolute;
  width: 375px;
  height: 631px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_8 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_8 > .paddingLayer {
  height: 631px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Group_19 {
  position: absolute;
  width: 375px;
  height: 71px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F2F2F2;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_1 {
  position: absolute;
  width: 375px;
  height: 71px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_1 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_1 > .paddingLayer {
  height: 71px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_1 {
  position: absolute;
  width: 255px;
  height: 41px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_1 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 21px 21px 21px 21px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_1 > .paddingLayer {
  height: 17px;
  width: 226px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 12px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_5 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_5 {
  position: absolute;
  width: 30px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_5 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_5 > svg {
  height: 24px;
  width: 30px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_12 > .shapert-clipping {
  width: 35px;
  height: 35px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 35px;
  height: 35px;
  position: absolute;
  overflow: hidden;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_12 .content {
  text-shadow: none;
  width: 35px;
  height: 35px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_12 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_12 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Ellipse_12 {
  width: 35px;
  height: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #CBCBCB;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_12 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_6 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_6 {
  position: absolute;
  width: 10px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_6 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_6 > svg {
  height: 17px;
  width: 10px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Group_2 {
  position: absolute;
  width: 303px;
  height: 102px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Group_13 {
  position: absolute;
  width: 50px;
  height: 50px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_8 > .shapert-clipping {
  width: 50px;
  height: 50px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_8 .content {
  text-shadow: none;
  width: 50px;
  height: 50px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_8 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Ellipse_8 {
  width: 50px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #CBCBCB;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_8 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_43 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_43 {
  position: absolute;
  width: 18px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_43 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_43 > svg {
  height: 22px;
  width: 18px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_2 {
  position: absolute;
  width: 239px;
  height: 75px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_2 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 23px 23px 23px 23px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_2 > .paddingLayer {
  height: 49px;
  width: 208px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 18px;
  padding-right: 13px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_1 {
  position: absolute;
  width: 167px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 10.5pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_1 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_24 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_24 {
  position: absolute;
  width: 52px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_24 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_24 > .paddingLayer {
  height: 20px;
  width: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: right;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_24 span {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Group_14 {
  position: absolute;
  width: 304px;
  height: 138px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Group_15 {
  position: absolute;
  width: 50px;
  height: 50px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_9 > .shapert-clipping {
  width: 50px;
  height: 50px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_9 .content {
  text-shadow: none;
  width: 50px;
  height: 50px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_9 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Ellipse_9 {
  width: 50px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #CBCBCB;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_9 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_44 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_44 {
  position: absolute;
  width: 18px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_44 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_44 > svg {
  height: 22px;
  width: 18px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_4 {
  position: absolute;
  width: 239px;
  height: 111px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_4 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F2F2F2;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F2F2F2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F2F2F2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F2F2F2;
  border-radius: 33px 33px 33px 33px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_4 > .paddingLayer {
  height: 75px;
  width: 198px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 23px;
  padding-right: 18px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_3 {
  position: absolute;
  width: 181px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 10.5pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_3 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_25 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_25 {
  position: absolute;
  width: 52px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_25 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_25 > .paddingLayer {
  height: 20px;
  width: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: right;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_25 span {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Group_16 {
  position: absolute;
  width: 303px;
  height: 74px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Group_17 {
  position: absolute;
  width: 50px;
  height: 50px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_10 > .shapert-clipping {
  width: 50px;
  height: 50px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_10 .content {
  text-shadow: none;
  width: 50px;
  height: 50px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_10 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_10 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Ellipse_10 {
  width: 50px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #CBCBCB;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_10 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_45 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_45 {
  position: absolute;
  width: 18px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_45 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_45 > svg {
  height: 22px;
  width: 18px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_3 {
  position: absolute;
  width: 239px;
  height: 45px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_3 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 23px 23px 23px 23px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_3 > .paddingLayer {
  height: 19px;
  width: 208px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 18px;
  padding-right: 13px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_2 {
  position: absolute;
  width: 122px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 10.5pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_2 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_26 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_26 {
  position: absolute;
  width: 52px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_26 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_26 > .paddingLayer {
  height: 20px;
  width: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: right;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_26 span {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Group_18 {
  position: absolute;
  width: 305px;
  height: 72px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Group_20 {
  position: absolute;
  width: 50px;
  height: 50px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_11 > .shapert-clipping {
  width: 50px;
  height: 50px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_11 .content {
  text-shadow: none;
  width: 50px;
  height: 50px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_11 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_11 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Ellipse_11 {
  width: 50px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #CBCBCB;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_11 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_46 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_46 {
  position: absolute;
  width: 18px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_46 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_46 > svg {
  height: 22px;
  width: 18px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_5 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_5 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_5 {
  position: absolute;
  width: 239px;
  height: 45px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_5 input {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F2F2F2;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F2F2F2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F2F2F2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F2F2F2;
  border-radius: 23px 23px 23px 23px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Input_5 > .paddingLayer {
  height: 19px;
  width: 208px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 18px;
  padding-right: 13px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_4 {
  position: absolute;
  width: 122px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 10.5pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_4 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_27 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_27 {
  position: absolute;
  width: 52px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_27 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_27 > .paddingLayer {
  height: 20px;
  width: 52px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: right;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_27 span {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #B2B2B2;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Header_1 {
  position: absolute;
  width: 375px;
  height: 77px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_26 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_26 {
  position: absolute;
  width: 375px;
  height: 77px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_26 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_26 > .paddingLayer {
  height: 76px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_26 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_22 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_22 > .clipping, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_22 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 15.0pt;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Text_22 span#rtr-s-Text_22_1 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_35 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_35 {
  position: absolute;
  width: 5px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_35 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_35 > svg {
  height: 25px;
  width: 5px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_7 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_7 {
  position: absolute;
  width: 15px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_7 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_7 > svg {
  height: 27px;
  width: 15px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_12 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_12 {
  position: absolute;
  width: 20px;
  height: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_12 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_12 > svg {
  height: 11px;
  width: 20px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_8 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_8 {
  position: absolute;
  width: 20px;
  height: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_8 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_8 > svg {
  height: 11px;
  width: 20px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_9 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_9 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_9 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_9 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_10 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_10 {
  position: absolute;
  width: 24px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_10 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_10 > svg {
  height: 28px;
  width: 24px;
  box-shadow: none;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_28 > svg {
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_28 {
  position: absolute;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_28 > img, #s-b6c97015-ccdb-4250-af14-59c284dd8050 #s-Image_28 > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b6c97015-ccdb-4250-af14-59c284dd8050 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}