#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_7 INPUT {
  font-family: Arial;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_8 INPUT {
  font-family: Arial;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}