#s-c716c12d-69f0-4863-8c15-f96c00faf0ff > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-sign-up-2 {
  position: absolute;
  width: 386px;
  height: 771px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_2 {
  position: absolute;
  width: 386px;
  height: 771px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_2 > .clipping, #s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_2 > .paddingLayer {
  height: 771px;
  width: 386px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 32.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Text_2 > .clipping, #s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 32.0pt;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 32.0pt;
  line-height: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_5 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_5 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_5 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_5 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_5 {
  position: absolute;
  width: 306px;
  height: 45px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.5pt;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_5 input {
  color: #CBCBCB;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
  text-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_5 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  box-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_5 > .paddingLayer {
  height: 44px;
  width: 286px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 5px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_6 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_6 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_6 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_6 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_6 {
  position: absolute;
  width: 306px;
  height: 45px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.5pt;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_6 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
  text-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  box-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_6 > .paddingLayer {
  height: 44px;
  width: 286px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 5px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_7 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_7 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_7 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_7 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_7 {
  position: absolute;
  width: 306px;
  height: 45px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.5pt;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_7 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
  text-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_7 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  box-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_7 > .paddingLayer {
  height: 44px;
  width: 286px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 5px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_8 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_8 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_8 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_8 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_8 {
  position: absolute;
  width: 306px;
  height: 45px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.5pt;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_8 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.5pt;
  text-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_8 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  box-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Input_8 > .paddingLayer {
  height: 44px;
  width: 286px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 5px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Button_2 {
  position: absolute;
  width: 306px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Button_2 > .clipping, #s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Button_2 > .paddingLayer {
  height: 39px;
  width: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Paragraph_2 {
  position: absolute;
  width: 219px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Paragraph_2 > .clipping, #s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Paragraph_2 > .paddingLayer {
  height: 18px;
  width: 219px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Paragraph_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Checkbox_2 {
  position: absolute;
  width: 22px;
  height: 22px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_8 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_8 > .clipping, #s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_8 > .paddingLayer {
  height: 20px;
  width: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_8 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_3 > svg {
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_3 {
  position: absolute;
  width: 11px;
  height: 9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_3 > img, #s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_3 > svg {
  height: 9px;
  width: 11px;
  box-shadow: none;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Hotspot_2 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Hotspot_2 > img, #s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Hotspot_2 > svg {
  height: 22px;
  width: 22px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_1 {
  position: absolute;
  width: 305px;
  height: 183px;
  opacity: 0.2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_1 > img, #s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_1 > svg {
  height: 183px;
  width: 305px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}