#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 39px;
  width: 300px;
  -ms-transform: rotate(0.0deg);
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c716c12d-69f0-4863-8c15-f96c00faf0ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}